**/__pycache__
**/.pytest_cache
**/.git
**/.gitignore
.venv
**/*.pyc
**/*.pyo
**/*.pyd
**/*~
**/#*#
**/.#*
**/%*%
**/.DS_Store
**/.env
**/env.bak
**/env.dir
**/.venv
**/venv.bak
**/venv.dir
**/.idea
**/*.swp
**/*.*~
